*, *:before, *:after{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@-webkit-keyframes aparecer {
    from{opacity: 0;}
    to{opacity: 1;}
}

li > ul {
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px;
    box-shadow: 3px 0 10px rgba(0,0,0,0,0.2);
    -webkit-animation: aparecer 0.7s;
}

ul{
    list-style: none;
    background: #f3f3f3;
}

.container{
    background: #f3f3f3;
    position: fixed;
    height: 100%;
    left: 0;
    width: 200px;
    top: 0;
    box-shadow: 3px 0 10px rgba(0,0,0,0.2);
    -webkit-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
    z-index: 1000;
}

#menu_vertical a, label{
    color: #868686;
    display: block;
    padding-left: 25px;
    text-decoration: none;
    -webkit-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
}

#menu_vertical{
    padding-top: 50%;
}

#menu_vertical li{
    height: 60px;
    line-height: 60px;
    position: relative;
    width: 100%;
}

#menu_vertical > li {
    margin: 0 0 5% 0;
}

.categorias{
    color: #fff;
    height: 30px;
    line-height: 30px;
    position: absolute;
    left: 96%;
    padding: 5px;
    top: 8px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background: #64b4db;
    -webkit-transition: left 0.2s ease;
    -o-transition: left 0.2s ease;
    transition: left 0.2s ease;
    z-index: -1;
}

.icon{
    display: block;
}

.categorias:hover{
    left: 100%;
    cursor: pointer;
}

.invisible{
    left:-200px
}

.derecha{
    float: right;
    line-height: 60px;
}

#menu_vertical li:hover > a, #menu_principal li:hover{
    color: #fff;
    cursor: pointer;
    background-color: #64b4db;
}

nav ul li:hover > ul{
    display: inherit;
}
















